body {
    text-align: center;
    font-family: "Verdana";
}
#about, #photos, #links, #education, #form{
    padding: 10px 0 20px 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: #cdddea;
}

nav{
    position: fixed;
    display: block;
    width: 100%;
    background-color: #0033CC;
    top: 0px;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-transform: uppercase;
    color: #fff;
}
nav ul li a:hover{
    color: yellow;
}

#about{
     margin: 60px 0 0 0;
}

#photos{
    margin: 20px 0 0 0;
}
#photos ul{
    font-size:0;
}
#photos ul li{
    display:inline-block;
}
#photos .first_ul li img{
    display: inline-block;
    height: 200px;
}
#photos .second_ul li img{
    display: inline-block;
    height: 429px;
}
#photos .third_ul li img{
    display: inline-block;
    height: 217px;
}
.links {
    border-bottom: 5px solid #0033CC;
    height: 50px;
    
} /*
.links li {
    display: inline-block;
   background-color: #0033CC;
    margin: 5px 0px 0px 5px;
    padding: 10px 10px 0px;
    
    border-color: #fa95a4;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}*/
.links li a{
    text-decoration: none;
    border: none;
}
 .links li a img {
    height: 70px;
    border: 6px solid #0033CC;
    border-radius: 80px;
}

table { 
    width: 100%; 
    border: 4px double #0033CC; 
   }

#form{
    background-color: #CCFFCC;
    margin: 0px 0 0 0;
}
form label input, textarea{
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    width: 180px;
}
input[type="submit"]{
    border: none;
    border-radius: 3px;
    padding: 15px 50px;
    margin: 5px 0 0 50px;
    background-color: #0033CC;
    color: white;
}

footer{
    background-color: #003399;
    width: 100%;
    padding: 20px 0;
}
footer p{
    color: #fff;
}